<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlgorithmTraining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Baekjoon.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Codejam2015.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Dovelet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SCPC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DFED45081C2D5A1300E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFED45171C2D5A6300E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFED452E1C2D5D9B00E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFED455E1C2D69AB00E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFED45A01C2D6F9400E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFED46861C2D721300E3EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
